# ROS 2 build files
build/
install/
log/

# Environment
create_robopoint_packages.sh
setup_robopoint_packages.sh
cyclone_dds.xml
fastrtps.xml
*.jpg
*.log
*.log.*
# 忽略 Python build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/